

<%= form_with model: @note_new, local: true, method: :post do |form| %>
    <%= form.text_field :title, placeholder: "TITLE" %>
    <%= form.text_area :description, placeholder: "MEMO" %>
    <%= form.submit "NEW" %>
<% end %>

<% @notes.reverse.each do |note| %>
    <%= form_with model: note, url: note_path(note.id), local: true, method: :patch do |form| %>
        <%= form.text_field :title, placeholder: "TITLE" %>
        <%= form.text_area :description, placeholder: "MEMO" %>
        <%= form.submit "UPDATE" %>
    <% end %>
    <%= button_to "DEL", note_path(note.id), method: :delete %>
<% end %>


<h1><%= current_user.name %> のToDo一覧</h1>
<% if @notes.present? %>
  <ul>
    <% @notes.each do |todo| %>
      <li><%= todo.title %></li>
      <!-- 必要に応じて他のToDoの情報を表示 -->
    <% end %>
  </ul>
<% else %>
  <p>まだToDoを投稿していません。</p>
<% end %>
