<!DOCTYPE html>
<html>
  <head>
    <title>NoteApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple-v1.css">
  </head>

  <body>
    <header>
        <% if user_signed_in? %>
          <li>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
          </li>
          <li>
          <%= link_to "Edit Account", edit_user_registration_path  %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign up", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "Log in", new_user_session_path %>
          </li>
        <% end %>
      </header>
    <%# deivseのフラッシュメッセージを表示 %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= turbo_frame_tag 'modal' %>

    <%= yield %>

  </body>
</html>
