<!DOCTYPE html>
<html>
  <head>
    <title>NoteApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
 

    <!-- リセットCSS -->
    <link rel="stylesheet" href ="https://cdn.skypack.dev/sanitize.css">
    <!-- スタイルシート　-->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple-v1.css">
      
    <meta name="turbo-cache-control" content="no-cache">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  </head>

  <body>
  
    <header>
      <h1>study note app</h1>

      <div class="d-flex justify-content-end align-items-center">
        <% if notice.present? %>
          <div class="alert alert-primary mr-2">
            <%= notice %>
          </div>
        <% end %>

        <% if alert.present? %>
          <div class="alert alert-warning mr-2">
            <%= alert %>
          </div>
        <% end %>

        <ul class="nav justify-content-end">
        <div class="row">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to edit_user_registration_path, class: "nav-link" do%>
                <i class="ri-user-line">Account</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do%>
               <i class="ri-logout-box-line">Log out</i>
              <% end %>
            </li>
            <li class="nav-item">
              <h5><%= current_user.name %>:ログイン中</h5>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: "nav-link" do%>
               <i class="ri-user-add-line">Sign up</i>
              <% end %> 
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: "nav-link" do%>
               <i class="ri-login-box-line">Log in</i>
              <% end %>
            </li>
          <% end %>
          </div>   
        </ul>
      </div>                
        
        
    </header>

    <%= turbo_frame_tag 'modal' %>

    <%= yield %>
    <script>
    $(function(){
      $(".alert, .notice").fadeOut(5000);
    });
    </script>
    
  </body>
</html>
