<!DOCTYPE html>
<html>
  <head>
    <title>NoteApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple-v1.css">
    <meta name="turbo-cache-control" content="no-cache">
  
    
  </head>

  <body>
  
    <header>
 
      <div class="d-flex justify-content-end align-items-center">
        <% if notice.present? %>
          <div class="alert alert-primary mr-2">
            <%= notice %>
          </div>
        <% end %>

        <% if alert.present? %>
          <div class="alert alert-warning mr-2">
            <%= alert %>
          </div>
        <% end %>

        <ul class="nav flex-column">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Edit Account", edit_user_registration_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>                
        
        
    </header>

    <%= turbo_frame_tag 'modal' %>

    <%= yield %>
    <script>
    $(function(){
      $(".alert, .notice").fadeOut(5000);
    });
    </script>
    
  </body>
</html>
